((((SJA,SHD),(SJ,SDH)),(SD,(((SIJ,SCF),((((SGD,(SE,SBG)),SCC),((SHH,SJC),SJJ)),(((SGI,(SBC,((SB,SFC),SJG))),(SEI,(SEJ,SFI))),((SDG,(SGF,SIF)),(SDA,SIG))))),((SBI,SDI),((SCJ,(SJI,SGG)),SGH))))),((((((SH,SBB),(SHA,SFF)),((SG,SCB),SJE)),(SCG,((SEG,SIA),((SHF,SEB),((SFD,SBA),SBF))))),(((SEA,(SHB,SF)),SGE),(SBAA,SDB))),((((((SEC,SDE),SDC),(SHG,(SID,(((SIH,SGA),SEF),(SFB,SHI))))),((SBE,SGC),(((SHC,SIC),SCH),(((SFH,((SC,SBJ),(((SIB,SFE),SJB),SBH))),SFG),((SCD,(SCI,SJD)),SJF))))),(((SI,((SDD,SFA),(SGJ,SGB))),SBD),(((SCE,SJH),SIE),SFJ))),((SII,SCA),(((SDF,SDJ),SEH),((SED,SEE),(SHE,SHJ)))))));
